body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



form {
    display: inline-block;
    justify-content: center;
    width: 20%;
}


.pa {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

table,
th,
td {
    padding: 10px;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

th {
    width: 10%;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}
.achats {
    display: flex;
    align-items: center;
    background-color: revert;
    margin: 10% 3%;
    padding: 10px 10px;
    border-style: none;
    cursor: pointer;
}

.commands {
    display: flex;
    align-items: center;
    background-color: revert;
    margin: 10% 3%;
    padding: 10px 10px;
    border-style: none;
    cursor: pointer;
}

.achats:hover {
    background-color: lightblue;
}

.commands:hover {
    background-color: lightblue;
}

.ca {
    display: flex;
    justify-content: space-around;
    margin : 0% 0% -25% -16%;
}

fieldset {
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-style: hidden;
}

.in  {
    border-style: revert;
    height: 20px;
    margin: 5px;
}

